.Rproj.user
.Rhistory
.Rapp.history
.RData
.Rdata
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
rgeoboundaries.Rcheck/
rgeoboundaries*.tar.gz
rgeoboundaries*.tgz
CRAN-SUBMISSION
cran-comments.md
.github/pkg.lock
Rplots.pdf
dev/
